@model Model.Shipment

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.TrailerNo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TrailerNo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TrailerNo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p>Where is this order going?</p>
        <div class="col-md-10">
            @Html.RadioButton("pc", "ECWB", true, new { @class = "" })
            <p>  &nbsp;East Coast Wild Blueberries&nbsp;  </p>
            @Html.RadioButton("pc", "ECI", false, new { @class = "" })
            <p>  &nbsp;Embleme Canneberge Inc&nbsp;  </p>
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
</div>
